In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('data/TechnologyIndex.csv')
df.head()

,Rank,Country,iPhone,Android,MacBook,Windows Powered,PS4,Xbox one,iPad mini,Samsung tablet,40 inch smart TV,Apple Watch,Brand headphone,hard drive 2TB,Portable charger,Printer
0,1,Kuwait,$641.50,$539.18,$795.38,$528.34,$315.83,$418.50,$242.90,$250.98,$383.60,$242.90,$196.95,$89.03,$2.44,$52.36
1,2,Saudi Arabia,$513.86,$699.61,"$1,054.98",$686.88,$317.86,$254.24,$380.47,$152.44,$406.93,$381.48,$338.22,$114.27,$4.83,$30.03
2,3,Malaysia,$532.06,$631.66,"$1,010.31","$1,022.67",$299.83,$355.47,$232.87,$354.99,$324.87,$248.43,$175.48,$116.16,$11.41,$108.69
3,4,Canada,$555.25,$625.04,"$1,118.10","$1,081.40",$274.25,$233.14,$237.34,$392.89,$364.30,$259.21,$159.71,$87.12,$9.24,$57.13
4,5,United Arab Emirates,$498.25,$592.31,"$1,073.30","$1,026.68",$324.72,$285.72,$259.71,$311.71,$467.68,$285.71,$181.73,$84.49,$10.13,$95.93

#1 Remove "$" symbol from the entire data:

In [3]:
df=df.replace('\$','',regex=True)
df.head()

,Rank,Country,iPhone,Android,MacBook,Windows Powered,PS4,Xbox one,iPad mini,Samsung tablet,40 inch smart TV,Apple Watch,Brand headphone,hard drive 2TB,Portable charger,Printer
0,1,Kuwait,641.50,539.18,795.38,528.34,315.83,418.50,242.90,250.98,383.60,242.90,196.95,89.03,2.44,52.36
1,2,Saudi Arabia,513.86,699.61,"1,054.98",686.88,317.86,254.24,380.47,152.44,406.93,381.48,338.22,114.27,4.83,30.03
2,3,Malaysia,532.06,631.66,"1,010.31","1,022.67",299.83,355.47,232.87,354.99,324.87,248.43,175.48,116.16,11.41,108.69
3,4,Canada,555.25,625.04,"1,118.10","1,081.40",274.25,233.14,237.34,392.89,364.30,259.21,159.71,87.12,9.24,57.13
4,5,United Arab Emirates,498.25,592.31,"1,073.30","1,026.68",324.72,285.72,259.71,311.71,467.68,285.71,181.73,84.49,10.13,95.93

#4 Use dataframe slicing to return countries : "Spain, Pakistan, Colombia, Germany" with devices : "Xbox one,Portable charger".

In [5]:
df1 = df[df['Country'].isin(['Spain', 'Pakistan', 'Colombia', 'Germany'])] 
df1 = df1[['Country','Xbox one','Portable charger']]
df1

     Country Xbox one Portable charger
12     Spain   447.16             3.71
13  Pakistan   315.28             7.12
14  Colombia   282.19            43.12
15   Germany   263.94            10.59